body {
  max-width: 800px;
    .grid {
      display: flex;
      flex-wrap: wrap;
        div {
          border: solid black 1px;
          width: calc(100% / 7);
          padding-bottom: calc(100% / 12);
      }
  }

  .counter {
    background: blue;
  }

  .column-one {
    background: palevioletred;
  }

  .column-two {
    background: rgb(243, 193, 117);
  }

  .column-three {
    background: palegoldenrod;
  }

  .column-four {
    background: rgb(163, 221, 163);
  }

  .column-five {
    background: paleturquoise;
  }

  .column-six {
    background: plum;
  }
}